body {
    margin-top: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-image: url(telecom.jpeg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.wrapper{
  color: white;
  background-color: rgb(15, 49, 68, 0.8);
  width: 80%;
  margin-left:10%;
}

.vr{
  width:1px;
  display:table-cell;
  background-color:white;
  height:100%;
  
}

.bigwrapper{
  display:table;
  width:100%;
}

.margine{
  margin-right:2%;
  margin-left:2%;
}