<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Online Competition System</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link
	href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1>
					<span class="fa fa-bug"></span><a href="#">Online Competition
						System</a>
				</h1>
			</div>
			<div id="menu">
				<ul>
					<li><a accesskey="1" title="" th:href="@{/korisnik/home}">Ponuda usluga</a></li>
					<li><a accesskey="2" title="" th:href="@{/korisnik/usluge}">Moje usluge</a></li>
					<li><a accesskey="1" title="" th:href="@{/korisnik/zahtjevi}">Moji zahtjevi</a></li>
					<li><a accesskey="1" title="" th:href="@{/korisnik/problemi}">Prijava problema</a></li>
				</ul>
				<ul>
					<li><a accesskey="4" title="" href="/logout"> Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div id="positionOfTheTable">
	<a th:href="${'/zahtjev/new'}"><button type="submit" name="Submit" id="login-button">Kreiraj novi zahtjev</button></a><br><br>
	<div  th:if="${not #lists.isEmpty(zahtjevi)}">
				<table class="tablee">
					<thead>
						<tr>
							<th>Ime korisnika</th>
							<th>Prezime korisnika</th>
							<th>Naziv zahtjeva</th>
							<th>Tekst zahtjeva</th>
							<th>Status obrade zahtjeva</th>
						</tr>
						<tr  th:each="zahtjev,iterStat : ${zahtjevi}">
							<th>Sajra</th>
							<th>Muratovic</th>
							<th th:text="${zahtjev.naziv_zahtjeva}">Naziv zahtjeva</th>
							<th th:text="${zahtjev.text}">Tekst zahtjeva</th>
							<th th:text="${zahtjev.status}">Status obrade zahtjeva</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				</div>
	</div>
</body>
</html>
