<!-- ko with: home -->
<div class="jumbotron">
    <h1>Telecom</h1>
    <p class="lead">We are company that offers great telecommunication services like cable television, ultra fast internet, phone and so on...</p>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Ovdje ide ostatak teksta</p>

    </div>


